---
layout: compress
---
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{ site.title }}</title>
    <meta name="description" content="{{ site.description }}"/>
    <meta name="keywords" content="{{ site.keywords }}"/>
    <meta name="author" content="{{ site.author }}"/>
    <link rel="shortcut icon" href="img/favicon.ico">
    <link rel="stylesheet" type="text/css" href="css/normalize.css"/>
    <link rel="stylesheet" type="text/css" href="fonts/font-awesome/css/font-awesome.css"/>
    <link rel="stylesheet" type="text/css" href="css/modern-blog.css"/>
    <!--[if IE]>
    <script type="text/javascript" src="js/vendors/html5.min.js"></script>
    <![endif]-->
    <script>
        if (navigator.userAgent.toLowerCase().indexOf('firefox') > -1) {
            var root = document.getElementsByTagName('html')[0];
            root.setAttribute('class', 'ff');
        }
    </script>
</head>
<body class="body">
<div class="container">
    <header class="header">
        <h1>Google Code-In 2017 <span>A journey through my amazing experience with SCoRe Lab</span></h1>
        <nav class="links">
            <a href="#"><i class="fa fa-twitter-square fa-3x"></i></a>
            <a href="#"><i class="fa fa-instagram fa-3x"></i></a>
            <a href="#"><i class="fa fa-facebook-square fa-3x"></i></a>
            <a href="#"><i class="fa fa-tumblr-square fa-3x"></i></a>
        </nav>
    </header>
    <div class="content">
        <!-- trianglify pattern container -->
        <div class="pattern pattern--hidden"></div>
        <!-- cards -->
        <div class="wrapper">
            {% for post in site.posts %}
            <div class="card" data-id="{{ post.id }}">
                <div class="card__container card__container--closed">
                    <svg class="card__image" xmlns="http://www.w3.org/2000/svg"
                         xmlns:xlink="http://www.w3.org/1999/xlink" viewBox="0 0 1920 1200"
                         preserveAspectRatio="xMidYMid slice">
                        <defs>
                            <clipPath id="{{ post.id }}-clip-path">
                                <polygon class="clip" points="0,1200 0,0 1920,0 1920,1200"></polygon>
                            </clipPath>
                        </defs>
                        <image clip-path="url(#{{ post.id }}-clip-path)" width="1920" height="1200"
                               xlink:href="{{ post.image }}"></image>
                    </svg>
                    <div class="card__content">
                        <i class="card__btn-close fa fa-times"></i>
                        <div class="card__caption">
                            <h2 class="card__title">{{ post.title }}</h2>
                            <p class="card__subtitle">{{ post.subtitle }}</p>
                        </div>
                        <div class="card__copy">
                            <div class="meta">
                                <img class="meta__avatar" src="{{ post.avatar }}"/>
                                <span class="meta__author">{{ post.author }}</span>
                                <span class="meta__date">{{ post.date | date: "%Y-%m-%d" }}</span>
                            </div>
                            {{ post.content }}
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
            <!-- /cards -->
        </div>
    </div>
    <!-- /container -->
</div>
<!-- JS -->
<script src="js/vendors/trianglify.min.js"></script>
<script src="js/vendors/TweenMax.min.js"></script>
<script src="js/vendors/ScrollToPlugin.min.js"></script>
<script src="js/vendors/cash.min.js"></script>
<script src="js/card-modern-blog.js"></script>
<script src="js/modern-blog.js"></script>
</body>
</html>
